Cython
DataShape
Flask
Jinja2
MDP
MarkupSafe
PIL
PyAudio
PySAL
PyYAM
Pygments
SQLAlchemy
Sphinx
VTK
Werkzeug
XlsxWriter
apptools
argcomplete
astropy
atom
backports.ssl-match-hostname
beautifulsoup4
binstar
biopython
bitarray
blaze
blz
bokeh
boto
casuarius
cdecimal
chaco
colorama
conda
conda-build
configobj
cubes
decorator
docutils
gensim
gevent
gevent-websocket
gevent-zeromq
gunicorn
httplib2
nltk
nose
numba
numexpr
numpy
oauth2
openpyxl
pandas
patsy
pep8
ply
psutil
psycopg2
py
pycosat
pycparser
pycrypto
pycurl
pydot
pyface
pyflakes
pykit
pymc
pymongo
pyparsing
pysam
pytest
python-dateutil
pytz
pyzmq
rauth
redis
requests
rope
s3cmd
scikit-image
scikit-learn
scipy
six
spyder
statsmodels
sympy
tables
textblob
tornado
traits
traitsui
ujson
wsgiref
xlrd
xlwt
