body { 
	font-family: Avenir, sans-serif;
	background-color: #FFFAF0;
}

#nav_bar { 
	background-color: #2F4F4F;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
	color:	#FFFAF0;
}

#nav_bar a:link, a:visited, a:active { 
	color:	#FFFAF0;
	text-decoration: none;
}

#nav_bar a:hover { 
	text-decoration: underline;
}

#recommend { 
	margin-left: 5px;
	margin-right: 10px;
}

#site_name { 
	float: right;
	margin-right: 10px;
}

.column { 
	float: left;
	width: 20%;
}
dl.column { 
	position: relative;
	min-height: 400px;
}
.column dd { 
	width: 50%;
}
.score_comp dd.hg { 
	font-size: .8em;
	position: absolute;
	bottom: 30px;
}
.score_comp dd.p4k { 
	font-size: .8em;
	position: absolute;
	bottom: 50px;
}



#index { 
	background-image: url('chagall.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

a.index_style { 
	color: #2F4F4F;
	text-decoration: none;
}

a:hover.index_style {
	text-decoration: underline;
}

div.index_style { 
	background-color: #FFFAF0;
	opacity: .8;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
}


#description { 
	margin-top: 10px;
	float: right;
	width: 300px;
	background-color: #FFFAF0;
	opacity: .8;
	color: #2F4F4F;
}

#description a { 
	color: #2F4F4F;
	text-decoration: underline;
}

#sig, #description p {
	padding: 5px;
}

#sig { 
	float: right;
}


.button { 
	display: block;
	float: right;
	margin-right: 50px;
	padding: 3px 10px;
	background-color: #2F4F4F;
	border-radius: 25px;
}
.button a { 
	text-decoration: none;
	color: #FFFAF0;
}
.button a:hover { 
	text-decoration: underline;
}

.button.back { 
	display: block;
	float: left;
	margin-left: 25px;
}



#pred_score { 
	display: inline;
}
#score { 
	position: absolute;
	font-size: 1.5em;
	top: 225px;
	margin-left: 100px;
	padding: 5px;
	border: solid;
	border-radius: 25px;
}

.container { 
	width: 100%;
	min-height: 400px;
}


