body { 
	font-family: Avenir, sans-serif;
}

#nav_bar { 
	background-color: #2F4F4F;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
	color:	#FFFAF0;
}

#nav_bar a:link, a:visited, a:active { 
	color:	#FFFAF0;
	text-decoration: none;
}

#nav_bar a:hover { 
	text-decoration: underline;
}

#recommend { 
	margin-left: 5px;
	margin-right: 10px;
}

#site_name { 
	float: right;
	margin-right: 10px;
}

.column { 
	float: left;
	width: 20%;
}

#index { 
	background-image: url('chagall.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

a.index_style { 
	color: #2F4F4F;
	text-decoration: none;
}

a:hover.index_style {
	text-decoration: underline;
}

div.index_style { 
	background-color: #FFFAF0;
	opacity: .8;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
}


#description { 
	margin-top: 10px;
	float: right;
	width: 300px;
	background-color: #FFFAF0;
	opacity: .8;
	color: #2F4F4F;
}

#description a { 
	color: #2F4F4F;
	text-decoration: underline;
}

#sig, #description p {
	padding: 5px;
}

#sig { 
	float: right;
}









