body { 
	font-family: Avenir, sans-serif;
}

#nav_bar { 
	background-color: #2F4F4F;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
	color:	#FFFAF0;
}

#nav_bar a:link, a:visited, a:active { 
	color:	#FFFAF0;
	text-decoration: none;
}

#nav_bar a:hover { 
	text-decoration: underline;
}

#recommend { 
	margin-left: 5px;
	margin-right: 10px;
}

#site_name { 
	float: right;
	margin-right: 10px;
}