{% extends 'layout.html' %}
{% block body %}
	<p>
		These are albums you might enjoy
	</p>
	<hr>
	{% for album in underrated %}
		<dl class='column'>
		<dt>
			<img src={{ album[2] }} width='200' height='200'>
		</dt>
		<dd align='center'>
			<em>{{ album[0] }}</em> 
		</dd>
		<dd align='center'>
			by {{ album[1] }}
		</dd>
		<dd>&nbsp;</dd>
		<span class='score_comp'>
			<dd class='p4k' align='center'>p4k score: {{ album[4] }}</dd>
			<dd class='hg' align='center'>hg score: {{ album[5] }}</dd>
		</span>
		</dl>
	{% endfor %}
	{% if int(begin_page) >= 0 %}
		<span class='button back'><a href={{ '/similar/' + ulib(artist_name) + '/' + begin_page }}>Back</a></span>
	{% endif %}
	<span class='button'><a href={{ '/similar/' + ulib(artist_name) + '/' + end_page }}>More</a></span>
{% endblock %}