<!DOCTYPE html>
<html>
	<head>
		<title>
			Pitchfork's Hidden Gems
		</title>
		<link rel='stylesheet' type='text/css' href="{{url_for('static', filename='style.css') }}">
	</head>
	<body id='index'>
		<div class='index_style'>
			<span id='recommend'><a class='index_style' href='http://p4k-hidden-gems.herokuapp.com/recommend'>Recommend</a></span>
			<span id='predict'><a class='index_style' href='http://p4k-hidden-gems.herokuapp.com/predict'>Predict</a></span>
			<span id='site_name'><a class='index_style' href='http://p4k-hidden-gems.herokuapp.com/'>p4k's hidden gems</a></span>
		</div>
		<div id='description'>
			<p>I created Pitchfork's Hidden Gems as my capstone project at <a href='http://www.zipfianacademy.com/'>Zipfian Academy</a>. It combines a number of passions - music, data science, data products, and natural language processing - into a single platform for discovering new music.</p>
			<p>The premise is simple: People are really good at explaining why they like things, but they're not so good at turning those feelings into a numeric rating. By developing an algorithm to score reviews based solely on content, I hope to turn up interesting albums that music lovers might have missed on the basis of a low review score (and that traditional recommender systems would have a hard time finding).</p>
			<p>So... Click 'Recommend' to find new music and 'Predict' to objectively score your own longform music reviews. Enjoy!</p>
			<span id='sig'>-Dan</span>
		</div>
	</body>
</html>