<!DOCTYPE html>
<html>
	<head>
		<title>
			Pitchfork's Hidden Gems
		</title>
		<link rel='stylesheet' type='text/css' href="{{url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div id='nav_bar'>
			<span id='recommend'><a href='http://p4k-hidden-gems.herokuapp.com/recommend'>Recommend</a></span>
			<span id='predict'><a href='http://p4k-hidden-gems.herokuapp.com/predict'>Predict</a></span>
			<span id='site_name'><a href='http://p4k-hidden-gems.herokuapp.com/'>p4k's hidden gems</a></span>
		</div>
		{% block body %}{% endblock %}
	</body>
</html>